Repository Bearound/bearound-flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

dart-format:
  name: Dart Format
  description: Format Dart code
  entry: dart format
  args:
  - --set-exit-if-changed
  - .
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter Analyze
  description: Analyze Flutter code
  entry: flutter analyze
  args:
  - --fatal-infos
  language: system
  pass_filenames: false

flutter-test:
  name: Flutter Test
  description: Run Flutter tests
  entry: flutter test
  language: system
  pass_filenames: false

dart-fix-dry-run:
  name: Dart Fix (Dry Run)
  description: Check for available Dart fixes
  entry: dart fix
  args:
  - --dry-run
  language: system
  pass_filenames: false

flutter-pub-deps:
  name: Flutter Pub Dependencies
  description: Check Flutter dependencies
  entry: flutter pub deps
  language: system
  pass_filenames: false

flutter-pub-publish-dry-run:
  name: Flutter Pub Publish (Dry Run)
  description: Validate package for pub.dev
  entry: flutter pub publish
  args:
  - --dry-run
  language: system
  pass_filenames: false

feat(privacy)!: stop declaring the AD_ID permission in the plugin (#77)
  CHANGELOG.md
  README.md
  android/src/main/AndroidManifest.xml
Due: flutter-pub-publish-dry-run

chore: bump to v3.10.0, align native SDK dependencies
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore: bump to v3.10.0, align native SDK dependencies (#78)
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat(push): receipt and open measurement through native 3.11.0
  CHANGELOG.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(push): keep the tap when a data value is not a string
  CHANGELOG.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
Due: flutter-pub-publish-dry-run

style(push): dart format
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run

feat(example): request ATT from the example app
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(errors): forward the native error domain and code
  CHANGELOG.md
  README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/src/models/bearound_error.dart
  test/src/models/bearound_error_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(readiness): expose the native detection readiness
  CHANGELOG.md
  README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  lib/src/models/detection_readiness.dart
  test/src/models/detection_readiness_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(example): request ATT from the example app (#80)
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(errors): forward the native error domain and code (#81)
  CHANGELOG.md
  README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/src/models/bearound_error.dart
  test/src/models/bearound_error_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs(changelog): drop the customer app name from the field report
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

docs(changelog): drop the customer app name from the field report (#83)
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

feat(push): receipt and open measurement through native 3.11.0 (#79)
  CHANGELOG.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore(release): 3.12.0 on native 3.12.0
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore(release): 3.12.0 on native 3.12.0 (#84)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat(readiness): expose the native detection readiness (#82)
  CHANGELOG.md
  README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  lib/src/models/detection_readiness.dart
  test/src/models/detection_readiness_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore(release): target rich push formats at 3.13.0
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
  test/version_pin_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore: bump to v3.12.0, pin native 3.12.0 and document rich push setup
  CHANGELOG.md
  README.md
  test/version_pin_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs(push): PLAY is a real video, keep BEAROUND_PLAY out of the content extension
  CHANGELOG.md
  README.md
Due: flutter-pub-publish-dry-run

docs(push): iOS extensions ship as the separate BearoundSDKNotificationExtensions pod
  CHANGELOG.md
  README.md
Due: flutter-pub-publish-dry-run

feat(push): pin native 3.13.0 for rich push and document host setup (#85)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
  test/version_pin_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore(release): pin native 3.14.0 (Wi-Fi visit matching)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

docs: describe Wi-Fi visit matching by what it needs, not how it decides
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

docs: keep docs about the SDK side only
  AI-AGENT-SETUP.md
  README.md
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs: drop remaining data-strategy wording
  README.md
Due: flutter-pub-publish-dry-run

chore(release): pin native 3.14.0 (#86)
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/core/permission_service.dart
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

fix: skip beacon bridge work without a stream subscriber
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  tools/bridge-benchmark/.gitignore
  tools/bridge-benchmark/README.md
  tools/bridge-benchmark/build.gradle.kts
  tools/bridge-benchmark/run.sh
  tools/bridge-benchmark/settings.gradle.kts
  tools/bridge-benchmark/src/test/kotlin/com/example/bearound_flutter_sdk/BeaconBridgeRegressionTest.kt
  tools/bridge-benchmark/src/test/kotlin/com/example/bearound_flutter_sdk/BridgeBenchmarkTest.kt
  tools/bridge-benchmark/src/test/kotlin/com/example/bearound_flutter_sdk/BridgeFixture.kt
Due: flutter-pub-publish-dry-run

test: record equal-load beacon bridge comparison
  docs/specs/flutter-unobserved-beacon-events/benchmark-report.md
  docs/specs/flutter-unobserved-beacon-events/bugfix.md
  docs/specs/flutter-unobserved-beacon-events/decisions.md
  docs/specs/flutter-unobserved-beacon-events/design.md
  docs/specs/flutter-unobserved-beacon-events/discovery.md
  docs/specs/flutter-unobserved-beacon-events/physical-validation.md
  docs/specs/flutter-unobserved-beacon-events/tasks.md
  tools/bridge-benchmark/summarize.py
Due: none

test(android): validate bridge and lossless batch models on device
  docs/.pubignore
  docs/specs/flutter-unobserved-beacon-events/design.md
  docs/specs/flutter-unobserved-beacon-events/physical-validation.md
  docs/specs/flutter-unobserved-beacon-events/tasks.md
  tools/.pubignore
  tools/bridge-benchmark/README.md
  tools/bridge-benchmark/e2e/.gitignore
  tools/bridge-benchmark/e2e/physical-app/.gitignore
  tools/bridge-benchmark/e2e/physical-app/build.gradle.kts
  tools/bridge-benchmark/e2e/physical-app/src/main/AndroidManifest.xml
  tools/bridge-benchmark/e2e/physical-app/src/main/kotlin/io/bearound/qa/bridge/MainActivity.kt
  tools/bridge-benchmark/e2e/physical-app/src/main/kotlin/io/bearound/qa/bridge/PhysicalBridgeRun.kt
  tools/bridge-benchmark/e2e/physical-app/src/main/kotlin/io/bearound/qa/bridge/PhysicalFixtures.kt
  tools/bridge-benchmark/e2e/physical-app/src/main/kotlin/io/bearound/qa/bridge/PhysicalModelProbe.kt
  tools/bridge-benchmark/e2e/physical-check.sh
  tools/bridge-benchmark/e2e/physical_check.py
  tools/bridge-benchmark/e2e/physical_check_test.py
  tools/bridge-benchmark/run.sh
  tools/bridge-benchmark/settings.gradle.kts
Due: flutter-pub-publish-dry-run

test(android): compare lossless dictionary batches on device
  docs/specs/flutter-unobserved-beacon-events/bugfix.md
  docs/specs/flutter-unobserved-beacon-events/decisions.md
  docs/specs/flutter-unobserved-beacon-events/design.md
  docs/specs/flutter-unobserved-beacon-events/physical-validation.md
  docs/specs/flutter-unobserved-beacon-events/tasks.md
  tools/bridge-benchmark/README.md
  tools/bridge-benchmark/e2e/physical-app/src/main/kotlin/io/bearound/qa/bridge/MainActivity.kt
  tools/bridge-benchmark/e2e/physical-app/src/main/kotlin/io/bearound/qa/bridge/PhysicalModelProbe.kt
Due: flutter-pub-publish-dry-run

chore(release): pin native 3.15.0
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore(release): pin native 3.15.0 (#88)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat(app-presence): F3-01 local native artifacts override
  android/build.gradle
  example/android/app/build.gradle.kts
  example/ios/Podfile
  ios/bearound_flutter_sdk.podspec
  scripts/app-presence-local-native.sh
  scripts/app-presence-local-native.test.sh
Due: none

feat(app-presence): app presence bridge and stream (F4-01)
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  lib/src/models/app_presence.dart
  test/app_presence_bridge_test.dart
  test/app_presence_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

Path conditions:
  dart-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
  flutter-test: any of: \.dart$
  dart-fix-dry-run: any of: \.dart$
  flutter-pub-deps: any of: pubspec\.yaml$
  flutter-pub-publish-dry-run: any of: pubspec\.yaml$|lib/.*\.dart$|README\.md$|CHANGELOG\.md$
