Repository Bearound/bearound-flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

.pre-commit-config.yaml:

# Pre-commit hooks for Bearound Flutter SDK
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Dart/Flutter specific checks
  - repo: local
    hooks:
      # Dart format check
      - id: dart-format
        name: Dart Format
        description: Format Dart code
        entry: dart format
        args: ['--set-exit-if-changed', '.']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Flutter analyze
      - id: flutter-analyze
        name: Flutter Analyze
        description: Analyze Flutter code
        entry: flutter analyze
        args: ['--fatal-infos']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Run tests
      - id: flutter-test
        name: Flutter Test
        description: Run Flutter tests
        entry: flutter test
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dart fix suggestions
      - id: dart-fix-dry-run
        name: Dart Fix (Dry Run)
        description: Check for available Dart fixes
        entry: dart fix
        args: ['--dry-run']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dependency check
      - id: flutter-pub-deps
        name: Flutter Pub Dependencies
        description: Check Flutter dependencies
        entry: flutter pub deps
        language: system
        files: 'pubspec\.yaml$'
        pass_filenames: false

      # Pub dry-run check (only if pubspec.yaml changed)
      - id: flutter-pub-publish-dry-run
        name: Flutter Pub Publish (Dry Run)
        description: Validate package for pub.dev
        entry: flutter pub publish
        args: ['--dry-run']
        language: system
        files: 'pubspec\.yaml$|lib/.*\.dart$|README\.md$|CHANGELOG\.md$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|\.g\.dart$'

  # Commit message format check
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore: bump version to 2.3.2
  CHANGELOG.md
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: update native SDK dependencies to v2.3.2 (Android + iOS)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
Due: flutter-pub-publish-dry-run

bump: v2.3.5 — update native SDK dependencies to v2.3.5 (Android + iOS)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: v2.3.6 — update native SDK dependencies to v2.3.6 (Android + iOS)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: v2.3.7 — update native SDK dependencies to v2.3.7 (Android + iOS)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

feat(sdk): region + location capture events, ScanPrecision migration
  CHANGELOG.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/lib/main.dart
  example/lib/settings_page.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/location_capture_result.dart
  lib/src/models/scan_interval_configuration.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

fix(example): drop remaining interval refs + pin NDK to 28.0.12433566
  example/android/app/build.gradle.kts
  example/lib/main.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore(example): add Flutter migrator flags for Kotlin/DSL transition
  example/android/gradle.properties
Due: none

style: dart format on 3 files flagged by CI
  example/lib/main.dart
  lib/src/models/location_capture_result.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(sdk): region + location capture events, ScanPrecision migration (v2.4.0) (#27)
  CHANGELOG.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/build.gradle.kts
  example/android/gradle.properties
  example/lib/main.dart
  example/lib/settings_page.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/location_capture_result.dart
  lib/src/models/scan_interval_configuration.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat: two-eyes streams on iOS + Android plugins + Dart API
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  lib/src/models/location_capture_result.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore(flutter): in-flight two-eyes + version alignment (WIP baseline)
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/build.gradle.kts
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle.kts
  example/ios/Flutter/AppFrameworkInfo.plist
  example/ios/Podfile
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  example/ios/Runner/AppDelegate.swift
  example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  example/ios/Runner/Info.plist
  example/lib/events.dart
  example/lib/eye_card.dart
  example/lib/log_modal.dart
  example/lib/main.dart
  example/lib/settings_page.dart
  example/lib/two_eyes_modal.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/active_scan_event.dart
  lib/src/models/authorization_status.dart
  lib/src/models/beacon.dart
  lib/src/models/beacon_discovery_source.dart
  lib/src/models/beacon_region_event.dart
  lib/src/models/bluetooth_events.dart
  lib/src/models/foreground_scan_config.dart
  lib/src/models/location_capture_result.dart
  lib/src/models/persisted_log_entry.dart
  lib/src/models/rssi_stats.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat(flutter): tag /ingest with sdk.technology="flutter" + align to 3.3.0
  EVENT-PARITY.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

refactor(flutter): technology as single Dart source + podspec reads pubspec version
  .github/workflows/release.yml
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(flutter): hardcode technology, fix CI (changelog+format), add PUBLISH.md
  CHANGELOG.md
  PUBLISH.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/lib/eye_card.dart
  example/lib/log_modal.dart
  example/lib/main.dart
  example/lib/settings_page.dart
  example/lib/two_eyes_modal.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore: bump native SDKs to 3.3.1 (BLE zone correctness)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix(flutter): CI builds — drop iOS-only detection-log calls on Android, gate local dev-pod behind env
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/ios/Podfile
Due: none

fix(ci): drop example Podfile.lock pinned to dev-pod 3.3.0
  .gitignore
Due: none

fix(android): align manifests to connectedDevice model + correct README
  README.md
  android/src/main/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
Due: flutter-pub-publish-dry-run

fix(android): align manifests to connectedDevice model + correct README (#30)
  README.md
  android/src/main/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
Due: flutter-pub-publish-dry-run

feat: device register (native 3.4.0) + scan modes docs + app-name notification
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/lib/main.dart
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

style: format example main.dart (dart format)
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

ci: publish to pub.dev natively (replace broken k-paxian Docker action)
  .github/workflows/release.yml
Due: none

fix(android): encaminhar push token ao SDK nativo (era no-op)
  CHANGELOG.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  lib/bearound_flutter_sdk.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore: bump to v3.4.1, align native SDK deps (push token register-on-set)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
Due: flutter-pub-publish-dry-run

chore: bump to v3.4.2, align native deps (Android exact-alarm removal)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix(example): adiciona permissão/status de Notificações (1:1 com o example RN)
  example/lib/main.dart
  example/pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat(ios): push notifications + background wakeup (v3.4.3)
  CHANGELOG.md
  README.md
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner/AppDelegate.swift
  example/ios/Runner/Info.plist
  example/ios/Runner/Runner.entitlements
  ios/Classes/BearoundFlutterSdkPlugin.swift
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: bump to v3.4.4, align android-sdk dependency
  CHANGELOG.md
  android/build.gradle
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

feat: expoe API de robustez do Android + bump nativo 3.4.5
  CHANGELOG.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

docs(readme): auditoria DX — push token, permissões, background e troubleshooting
  README.md
Due: flutter-pub-publish-dry-run

docs(example): substitui o boilerplate por doc real do app de referência
  example/README.md
Due: flutter-pub-publish-dry-run

docs(dartdoc): corrige versões, notas de plataforma e defaults
  lib/bearound_flutter_sdk.dart
  lib/src/models/scan_interval_configuration.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(models): aceita status snake_case do Android nativo no fromString
  lib/src/models/authorization_status.dart
  test/authorization_status_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(errors): replay dos últimos erros no errorStream antes do primeiro listen
  lib/bearound_flutter_sdk.dart
  test/error_stream_replay_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(ios): notificação "Push → Scan" atrás de flag debug (default off) + documenta o post de foreground
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(permissions): alinha o gate do Android ao nativo 3.4.5 + getSdkVersion real
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

ci(release): valida o pin nativo no JitPack antes de publicar
  .github/workflows/release.yml
Due: none
