Repository Bearound/bearound-flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

.pre-commit-config.yaml:

# Pre-commit hooks for Bearound Flutter SDK
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Dart/Flutter specific checks
  - repo: local
    hooks:
      # Dart format check
      - id: dart-format
        name: Dart Format
        description: Format Dart code
        entry: dart format
        args: ['--set-exit-if-changed', '.']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Flutter analyze
      - id: flutter-analyze
        name: Flutter Analyze
        description: Analyze Flutter code
        entry: flutter analyze
        args: ['--fatal-infos']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Run tests
      - id: flutter-test
        name: Flutter Test
        description: Run Flutter tests
        entry: flutter test
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dart fix suggestions
      - id: dart-fix-dry-run
        name: Dart Fix (Dry Run)
        description: Check for available Dart fixes
        entry: dart fix
        args: ['--dry-run']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dependency check
      - id: flutter-pub-deps
        name: Flutter Pub Dependencies
        description: Check Flutter dependencies
        entry: flutter pub deps
        language: system
        files: 'pubspec\.yaml$'
        pass_filenames: false

      # Pub dry-run check (only if pubspec.yaml changed)
      - id: flutter-pub-publish-dry-run
        name: Flutter Pub Publish (Dry Run)
        description: Validate package for pub.dev
        entry: flutter pub publish
        args: ['--dry-run']
        language: system
        files: 'pubspec\.yaml$|lib/.*\.dart$|README\.md$|CHANGELOG\.md$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|\.g\.dart$'

  # Commit message format check
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(telemetry): add isolated Dart-layer error reporter
  CHANGELOG.md
  README.md
  lib/bearound_flutter_sdk.dart
  lib/src/telemetry/error_reporter.dart
  test/src/telemetry/error_reporter_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(telemetry): attribute Dart errors by ORIGIN + align native pins to 3.4.5
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  test/src/telemetry/error_reporter_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(telemetry): never-crash-the-host — chain the host's PlatformDispatcher handler + guard the internal error stream
  lib/bearound_flutter_sdk.dart
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs(changelog): document the Dart-layer never-crash hardening under [3.4.5]
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

fix(flutter): pin native Android to v3.4.5 (JitPack coord) + dart format telemetry
  android/build.gradle
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(review): pre-merge hardening — Android bridge never-crash, origin-marker anchoring, doc/publish gates
  .github/workflows/release.yml
  CHANGELOG.md
  PUBLISH.md
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
  lib/src/telemetry/error_reporter.dart
  test/bearound_flutter_sdk_test.dart
  test/error_stream_error_envelope_test.dart
  test/src/telemetry/error_reporter_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(never-crash): move getPersistedLog invokeMethod inside the guard
  lib/bearound_flutter_sdk.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

release(flutter): v3.4.5 consolidado — DX audit + robustez + telemetria (host-safe) (#36)
  .github/workflows/release.yml
  CHANGELOG.md
  PUBLISH.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
  lib/src/models/authorization_status.dart
  lib/src/models/scan_interval_configuration.dart
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
  test/authorization_status_test.dart
  test/bearound_flutter_sdk_test.dart
  test/error_stream_error_envelope_test.dart
  test/error_stream_replay_test.dart
  test/src/telemetry/error_reporter_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

test(never-crash): make getPersistedLog telemetry test deterministic
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run

fix(example): show real Nearby-devices vs Location status separately
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

style(example): dart format (line wrap in _canScan)
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(example): separar status real de Nearby-devices e Localização (não confundir gate de scan com location) (#38)
  example/lib/main.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs(ios): document the required UIScene-disable + background wakeup setup
  README.md
Due: flutter-pub-publish-dry-run

docs(ios): document the required UIScene-disable + background wakeup setup (#39)
  README.md
Due: flutter-pub-publish-dry-run

docs: add AI agent setup prompt (AI-AGENT-SETUP.md) + README section
  AI-AGENT-SETUP.md
  README.md
Due: flutter-pub-publish-dry-run

docs: harden AI agent prompt (adversarial validation) + surface it at the top
  AI-AGENT-SETUP.md
  README.md
Due: flutter-pub-publish-dry-run

docs(flutter): make the device-validated AppDelegate reachable by the AI agent
  AI-AGENT-SETUP.md
  README.md
Due: flutter-pub-publish-dry-run

chore(ci): remove Codecov coverage upload + config
  .github/workflows/ci.yml
  codecov.yml
Due: none

chore(ci): remove Codecov coverage upload + config (#41)
  .github/workflows/ci.yml
  codecov.yml
Due: none

docs: prompt de instalação para AI agent + seção no README (#40)
  AI-AGENT-SETUP.md
  README.md
Due: flutter-pub-publish-dry-run

release: 3.4.6 — embruca nativo 3.4.6 (fix scan BLE)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

docs(release): atualiza refs de versao pra 3.4.6 (badge, snippet, comentario gradle)
  AI-AGENT-SETUP.md
  README.md
  android/build.gradle
Due: flutter-pub-publish-dry-run

feat(push): expõe handleRemoteMessage no bridge (silent-push wake-up Android)
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs(agent-setup): adiciona o passo de silent-push wake-up Android
  AI-AGENT-SETUP.md
Due: none

docs(push): corrige o tipo no exemplo do background handler
  README.md
Due: flutter-pub-publish-dry-run

release: 3.5.0 — embrulha nativo 3.5.0 (fix scan BLE + silent-push wake-up)
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

release: 3.5.0 — embrulha nativo 3.5.0 (fix scan BLE + silent-push wake-up) (#44)
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat(push): expõe handleRemoteMessage no bridge (silent-push wake-up Android) (#43)
  AI-AGENT-SETUP.md
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

bump: Android native SDK v3.5.1
  CHANGELOG.md
  android/build.gradle
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: Android native SDK v3.5.1 (#45)
  CHANGELOG.md
  android/build.gradle
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: align iOS native pin to 3.5.1 (lockstep)
  ios/bearound_flutter_sdk.podspec
Due: none

chore: bump android native sdk to v3.5.2
  CHANGELOG.md
  android/build.gradle
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: align iOS native pin to 3.5.1 (lockstep) (#46)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix: bump ErrorReporter _sdkVersion literal to 3.5.2 (release gate)
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: bump ErrorReporter _sdkVersion literal to 3.5.2 (release gate) (#47)
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore: bump native SDKs to the 3.6 line (iOS 3.6.2, Android v3.6.1)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: bump native SDKs to the 3.6 line (iOS 3.6.2, Android v3.6.1) (#48)
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix: bump telemetry _sdkVersion literal to 3.6.2 (unblocks the v3.6.2 release)
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(ios): debug notifications parity in plugin + example bundle under io.bearound
  example/ios/Runner.xcodeproj/project.pbxproj
  example/lib/main.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run
