Repository Bearound/bearound-flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

.pre-commit-config.yaml:

# Pre-commit hooks for Bearound Flutter SDK
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Dart/Flutter specific checks
  - repo: local
    hooks:
      # Dart format check
      - id: dart-format
        name: Dart Format
        description: Format Dart code
        entry: dart format
        args: ['--set-exit-if-changed', '.']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Flutter analyze
      - id: flutter-analyze
        name: Flutter Analyze
        description: Analyze Flutter code
        entry: flutter analyze
        args: ['--fatal-infos']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Run tests
      - id: flutter-test
        name: Flutter Test
        description: Run Flutter tests
        entry: flutter test
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dart fix suggestions
      - id: dart-fix-dry-run
        name: Dart Fix (Dry Run)
        description: Check for available Dart fixes
        entry: dart fix
        args: ['--dry-run']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dependency check
      - id: flutter-pub-deps
        name: Flutter Pub Dependencies
        description: Check Flutter dependencies
        entry: flutter pub deps
        language: system
        files: 'pubspec\.yaml$'
        pass_filenames: false

      # Pub dry-run check (only if pubspec.yaml changed)
      - id: flutter-pub-publish-dry-run
        name: Flutter Pub Publish (Dry Run)
        description: Validate package for pub.dev
        entry: flutter pub publish
        args: ['--dry-run']
        language: system
        files: 'pubspec\.yaml$|lib/.*\.dart$|README\.md$|CHANGELOG\.md$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|\.g\.dart$'

  # Commit message format check
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: release pipeline
  .github/workflows/release.yml
Due: none

fix: release pipeline
  .github/workflows/README.md
  .github/workflows/release.yml
Due: flutter-pub-publish-dry-run

chore: create v1.0.3
  CHANGELOG.md
  android/bearound-aar/build.gradle
  android/build.gradle
  android/libs/android-beacon-sdk-1.0.0.aar
  android/settings.gradle
  example/android/build.gradle.kts
  example/android/settings.gradle.kts
  ios/BearoundSDK.xcframework/Info.plist
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/BearoundSDK
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/Info.plist
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios.abi.json
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios.private.swiftinterface
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios.swiftdoc
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios.swiftinterface
  ios/BearoundSDK.xcframework/ios-arm64/BearoundSDK.framework/_CodeSignature/CodeResources
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/BearoundSDK
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Info.plist
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios-simulator.abi.json
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios-simulator.private.swiftinterface
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios-simulator.swiftdoc
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/arm64-apple-ios-simulator.swiftinterface
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/x86_64-apple-ios-simulator.abi.json
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/x86_64-apple-ios-simulator.private.swiftinterface
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/Modules/BearoundSDK.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
  ios/BearoundSDK.xcframework/ios-arm64_x86_64-simulator/BearoundSDK.framework/_CodeSignature/CodeResources
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

feat: add event listeners and fix iOS/Android beacon detection
  .gitignore
  .idea/.gitignore
  .idea/bearound-flutter-sdk.iml
  .idea/caches/deviceStreaming.xml
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.edit.xml
  .idea/deviceManager.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/material_theme_project_new.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  android/.gitignore
  android/.idea/.name
  android/.idea/caches/deviceStreaming.xml
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/src/main/AndroidManifest.xml
  example/lib/main.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/bearound_flutter_sdk_method_channel.dart
  lib/bearound_flutter_sdk_platform_interface.dart
  lib/src/core.dart
  lib/src/core/permission_service.dart
  lib/src/models/beacon.dart
  lib/src/models/beacon_event.dart
  test/src/data/models/beacon_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

pump version number
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

format files
  lib/bearound_flutter_sdk_method_channel.dart
  lib/src/core.dart
  lib/src/core/permission_service.dart
  lib/src/models/beacon_event.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

format example main
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

changelogs
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

remove bearound iml
  bearound_flutter_sdk.iml
Due: none

update readme.md
  README.md
Due: flutter-pub-publish-dry-run

bugfix: background app state
  CHANGELOG.md
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/build.gradle.kts
  example/lib/main.dart
  lib/bearound_flutter_sdk.dart
  lib/bearound_flutter_sdk_method_channel.dart
  lib/bearound_flutter_sdk_platform_interface.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

import new ios sdk version
  example/ios/Runner.xcodeproj/project.pbxproj
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

change: update changelogs.md
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

update to 1.2.0
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: update sdk version
  CHANGELOG.md
  android/build.gradle
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: update ios sdk version
  CHANGELOG.md
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

chore: create version 1.3.1
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/ios/Runner/Info.plist
  example/lib/main.dart
  example/lib/settings_page.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/bearound_flutter_sdk_method_channel.dart
  lib/bearound_flutter_sdk_platform_interface.dart
  lib/src/core.dart
  lib/src/models/configuration.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore: create version 2.0.0
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  android/src/test/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPluginTest.kt
  example/android/app/src/main/AndroidManifest.xml
  example/lib/main.dart
  example/lib/settings_page.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/bearound_flutter_sdk_method_channel.dart
  lib/bearound_flutter_sdk_platform_interface.dart
  lib/src/core.dart
  lib/src/core/beacon_scanner.dart
  lib/src/core/permission_service.dart
  lib/src/models/beacon.dart
  lib/src/models/beacon_event.dart
  lib/src/models/beacon_metadata.dart
  lib/src/models/bearound_error.dart
  lib/src/models/configuration.dart
  lib/src/models/sync_status.dart
  lib/src/models/user_properties.dart
  pubspec.yaml
  test/bearound_flutter_sdk_method_channel_test.dart
  test/bearound_flutter_sdk_test.dart
  test/src/core/beacon_scanner_test.dart
  test/src/data/models/beacon_test.dart
  test/src/models/beacon_metadata_test.dart
  test/src/models/beacon_test.dart
  test/src/models/bearound_error_test.dart
  test/src/models/sync_status_test.dart
  test/src/models/user_properties_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

remove uncessary library
  lib/bearound_flutter_sdk.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

change flutter version into workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: create version 2.0.1
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/.kotlin/sessions/kotlin-compiler-7543608820330365746.salive
  example/lib/main.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/user_properties.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

chore: create version 2.0.1
  android/build.gradle
  example/android/.kotlin/sessions/kotlin-compiler-7543608820330365746.salive
Due: none

chore: create version 2.0.1
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/build.gradle.kts
  lib/src/models/user_properties.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: android sdk build
  CHANGELOG.md
  PRE_COMMIT.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/build.gradle.kts
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore: update sdk version 2.1.0
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/lib/main.dart
  example/lib/settings_page.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/scan_interval_configuration.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

fix: format file
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

update sdk version
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/src/main/AndroidManifest.xml
  example/ios/Runner/Info.plist
  example/lib/main.dart
  example/lib/settings_page.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/background_detection_event.dart
  lib/src/models/sync_lifecycle_event.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

format files
  example/lib/main.dart
  lib/bearound_flutter_sdk.dart
  lib/src/models/background_detection_event.dart
  lib/src/models/sync_lifecycle_event.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: remove prints into code
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: bugfix flutter sync
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/src/main/AndroidManifest.xml
  example/lib/main.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/models/sync_status.dart
  pubspec.yaml
  setup-precommit.sh
  test/bearound_flutter_sdk_test.dart
  test/src/models/sync_status_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

fix: ios permission
  CHANGELOG.md
  README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

fix: request permission core location
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: none

update: sdk version
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  lib/src/models/scan_interval_configuration.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat: bluetooth-only fallback support (v2.3.0)
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/src/models/beacon.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

bump: v2.3.1 — update Android SDK dependency to 2.3.0
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

docs: add CHANGELOG entry for v2.3.1
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

docs: update README to reflect native SDK v2.3.0 and package v2.3.1
  README.md
Due: flutter-pub-publish-dry-run
