Repository Bearound/bearound-flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

.pre-commit-config.yaml:

# Pre-commit hooks for Bearound Flutter SDK
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Dart/Flutter specific checks
  - repo: local
    hooks:
      # Dart format check
      - id: dart-format
        name: Dart Format
        description: Format Dart code
        entry: dart format
        args: ['--set-exit-if-changed', '.']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Flutter analyze
      - id: flutter-analyze
        name: Flutter Analyze
        description: Analyze Flutter code
        entry: flutter analyze
        args: ['--fatal-infos']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Run tests
      - id: flutter-test
        name: Flutter Test
        description: Run Flutter tests
        entry: flutter test
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dart fix suggestions
      - id: dart-fix-dry-run
        name: Dart Fix (Dry Run)
        description: Check for available Dart fixes
        entry: dart fix
        args: ['--dry-run']
        language: system
        files: '\.dart$'
        pass_filenames: false

      # Dependency check
      - id: flutter-pub-deps
        name: Flutter Pub Dependencies
        description: Check Flutter dependencies
        entry: flutter pub deps
        language: system
        files: 'pubspec\.yaml$'
        pass_filenames: false

      # Pub dry-run check (only if pubspec.yaml changed)
      - id: flutter-pub-publish-dry-run
        name: Flutter Pub Publish (Dry Run)
        description: Validate package for pub.dev
        entry: flutter pub publish
        args: ['--dry-run']
        language: system
        files: 'pubspec\.yaml$|lib/.*\.dart$|README\.md$|CHANGELOG\.md$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|\.g\.dart$'

  # Commit message format check
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: debug notifications go silent on a background relaunch
  example/ios/Runner/AppDelegate.swift
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: none

fix: debug notifications go silent on a background relaunch (#60)
  example/ios/Runner/AppDelegate.swift
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: none

bump: version 3.8.1
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: version 3.8.1 (#61)
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix: align the telemetry version constant with pubspec
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: align the telemetry version constant with pubspec (#62)
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs: correct what the host app must do for Wi-Fi observations
  README.md
Due: flutter-pub-publish-dry-run

docs: the setup prompt never asked for tracking or Wi-Fi
  AI-AGENT-SETUP.md
Due: none

docs: correct what the host app must do for Wi-Fi observations (#63)
  README.md
Due: flutter-pub-publish-dry-run

docs: the setup prompt never asked for tracking or Wi-Fi (#64)
  AI-AGENT-SETUP.md
Due: none

ci: create the GitHub Release on tag, like the RN repo does
  .github/workflows/release.yml
Due: none

ci: create the GitHub Release on tag, like the RN repo does (#65)
  .github/workflows/release.yml
Due: none

docs: requestPermissions() does nothing on Android — say so everywhere
  README.md
Due: flutter-pub-publish-dry-run

docs: requestPermissions() does nothing on Android — say so everywhere (#66)
  README.md
Due: flutter-pub-publish-dry-run

docs: explica por que o locationAlways esta no fluxo de permissao
  AI-AGENT-SETUP.md
  README.md
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs: explica por que o locationAlways esta no fluxo de permissao (#67)
  AI-AGENT-SETUP.md
  README.md
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: background location is opt-in, and the README says what the call does
  README.md
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

style: apply dart format
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: background location is opt-in, and the README says what the call does (#68)
  README.md
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

bump: version 3.8.2
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

bump: version 3.8.2 (#69)
  AI-AGENT-SETUP.md
  CHANGELOG.md
  README.md
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

ci: grant contents:write so the release step can actually create a release
  .github/workflows/release.yml
Due: none

bump: version 3.8.3
  CHANGELOG.md
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

bump: version 3.8.3 (#71)
  CHANGELOG.md
  ios/bearound_flutter_sdk.podspec
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

ci: let the release job create the GitHub Release
  .github/workflows/release.yml
Due: none

ci: let the release job create the GitHub Release (#72)
  .github/workflows/release.yml
Due: none

feat(privacy): expose the data-collection switches through the plugin
  AI-AGENT-SETUP.md
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs(agent-setup): ship the switches ON and never ask what to collect
  AI-AGENT-SETUP.md
Due: none

build: pin the native SDKs that carry the data-collection switches
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
Due: none

feat(privacy): expose the data-collection switches through the plugin (#73)
  AI-AGENT-SETUP.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

bump: version 3.9.0
  CHANGELOG.md
  README.md
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: version 3.9.0 (#74)
  CHANGELOG.md
  README.md
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix(permissions): request BLUETOOTH_ADVERTISE on Android 12+
  lib/src/core/permission_service.dart
  test/src/core/permission_service_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(example): stop escalating to background location on boot
  CHANGELOG.md
  example/lib/main.dart
  test/no_settings_hijack_test.dart
  test/src/core/permission_service_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs: trim today's comments to what prevents regressions
  CHANGELOG.md
  example/lib/main.dart
  lib/src/core/permission_service.dart
  test/no_settings_hijack_test.dart
  test/src/core/permission_service_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(permissions): request BLUETOOTH_ADVERTISE on Android 12+ (#75)
  CHANGELOG.md
  example/lib/main.dart
  lib/src/core/permission_service.dart
  test/no_settings_hijack_test.dart
  test/src/core/permission_service_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore(release): 3.9.1, pinning the native SDKs 3.9.1
  CHANGELOG.md
  README.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

fix(telemetry): the hardcoded plugin version had drifted to 3.8.3
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(privacy)!: stop declaring the AD_ID permission in the plugin
  CHANGELOG.md
  README.md
  android/src/main/AndroidManifest.xml
Due: flutter-pub-publish-dry-run
