Repository Bearound/bearound-flutter-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

dart-format:
  name: Dart Format
  description: Format Dart code
  entry: dart format
  args:
  - --set-exit-if-changed
  - .
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter Analyze
  description: Analyze Flutter code
  entry: flutter analyze
  args:
  - --fatal-infos
  language: system
  pass_filenames: false

flutter-test:
  name: Flutter Test
  description: Run Flutter tests
  entry: flutter test
  language: system
  pass_filenames: false

dart-fix-dry-run:
  name: Dart Fix (Dry Run)
  description: Check for available Dart fixes
  entry: dart fix
  args:
  - --dry-run
  language: system
  pass_filenames: false

flutter-pub-deps:
  name: Flutter Pub Dependencies
  description: Check Flutter dependencies
  entry: flutter pub deps
  language: system
  pass_filenames: false

flutter-pub-publish-dry-run:
  name: Flutter Pub Publish (Dry Run)
  description: Validate package for pub.dev
  entry: flutter pub publish
  args:
  - --dry-run
  language: system
  pass_filenames: false

style: dart format on example main.dart
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

iOS debug notifications parity + example bundle under io.bearound (#49)
  example/ios/Runner.xcodeproj/project.pbxproj
  example/lib/main.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(android): location permission stripped from Android 12+ builds
  android/src/main/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(android): location permission stripped from Android 12+ builds (#50)
  android/src/main/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(ios): example left location at 'While Using', killing background + terminated
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat(example): app-side detection log on Android (FG/BG), mirroring the native sample
  example/lib/local_detection_log.dart
  example/lib/log_modal.dart
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat: real detection log on Android + per-minute view (iOS parity)
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/lib/log_modal.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

style: dart format on log_modal.dart
  example/lib/log_modal.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix(ios): example left location at 'While Using', killing background + terminated (#51)
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore: bump Android SDK pin to v3.7.0 (persisted detection log API)
  android/build.gradle
Due: none

feat: real detection log on Android + per-minute view (iOS parity) (#53)
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/lib/log_modal.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

chore: re-pin Android SDK to v3.6.2 (same content, same-line versioning)
  android/build.gradle
Due: none

chore: re-pin Android SDK to v3.6.2 (same content, same-line versioning) (#54)
  android/build.gradle
Due: none

bump: 3.6.3 — native SDKs with seconds-level background delivery
  CHANGELOG.md
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
  pubspec.yaml
Due: flutter-pub-deps, flutter-pub-publish-dry-run

bump: telemetry _sdkVersion 3.6.3 (release gate)
  lib/src/telemetry/error_reporter.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat: expose periodic background reconciliation configuration
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

bump: 3.7.0 — periodic reconciliation train (native iOS 3.6.4 / Android 3.7.0)
  CHANGELOG.md
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

test: update configure expectations for the periodic reconciliation args
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run

chore: pin native SDKs to the aligned 3.7 line (Android v3.7.1, iOS 3.7.0)
  android/build.gradle
  ios/bearound_flutter_sdk.podspec
Due: none

Reconciliação periódica configurável (paridade com nativos 3.6.4/3.7.0) (#55)
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/telemetry/error_reporter.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

docs: bracket the 3.7.0 changelog heading (release gate format)
  CHANGELOG.md
Due: flutter-pub-publish-dry-run

feat: paridade de Wi-Fi e advertising ID com os SDKs nativos
  README.md
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/proguard-rules.pro
  ios/Classes/BearoundFlutterSdkPlugin.swift
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

style: aplica dart format
  lib/bearound_flutter_sdk.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat: encounter-layer parity — advertise permission, docs, contract
  EVENT-PARITY.md
  README.md
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

docs: retire the cross-SDK parity notes from the repo
  EVENT-PARITY.md
Due: none

docs: drop dangling reference to the retired parity notes
  README.md
Due: flutter-pub-publish-dry-run

feat: encounter-layer parity (permission, docs, contract) (#57)
  EVENT-PARITY.md
  README.md
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat: paridade 3.8.0 — heartbeat de presenca, ATT e Wi-Fi declarado
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/ios/Runner/Runner.entitlements
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

fix: pin the JitPack coordinate that actually resolves
  android/build.gradle
Due: none

docs: bump the README install pin to the current major line
  README.md
Due: flutter-pub-publish-dry-run

feat: pin native 3.8.0 and expose presence heartbeat + Wi-Fi collection (#58)
  CHANGELOG.md
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/example/bearound_flutter_sdk/BearoundFlutterSdkPlugin.kt
  example/android/app/proguard-rules.pro
  example/ios/Runner/Runner.entitlements
  ios/Classes/BearoundFlutterSdkPlugin.swift
  ios/bearound_flutter_sdk.podspec
  lib/bearound_flutter_sdk.dart
  lib/src/core/permission_service.dart
  pubspec.yaml
  test/bearound_flutter_sdk_test.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-deps, flutter-pub-publish-dry-run

feat: match the native example's debug notifications
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: none

fix: stop the debug notifications from reading as a broken sync
  example/ios/Runner/AppDelegate.swift
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: none

fix: do not gate the example's scan on permission dialogs
  example/README.md
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

fix: stop the zone notification from promising a beacon
  README.md
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: flutter-pub-publish-dry-run

docs: sync the manifest listing with the plugin's real manifest
  README.md
Due: flutter-pub-publish-dry-run

fix: the zone card must not claim a beacon was detected
  example/lib/main.dart
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

feat: match the native example's debug notifications (#59)
  README.md
  example/README.md
  example/ios/Runner/AppDelegate.swift
  example/lib/main.dart
  ios/Classes/BearoundFlutterSdkPlugin.swift
Due: dart-format, flutter-analyze, flutter-test, dart-fix-dry-run, flutter-pub-publish-dry-run

Path conditions:
  dart-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
  flutter-test: any of: \.dart$
  dart-fix-dry-run: any of: \.dart$
  flutter-pub-deps: any of: pubspec\.yaml$
  flutter-pub-publish-dry-run: any of: pubspec\.yaml$|lib/.*\.dart$|README\.md$|CHANGELOG\.md$
